body, header, canvas, h1, menu{
  margin: 0;
  padding: 0;
}

body{
  background-color: darkslategray;
}

header{
  padding-top: 10px;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Helvetica","Arial", sans-serif;
  font-weight: bold;
  color: cyan;
  text-decoration: overline underline;
}

.menu{
  display: inline-block;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  color: fuchsia;
  margin: 5px 10px;
}

.menu.active{
  text-decoration: underline;
}

#content{
  padding: 8px 0;
  grid-area: c;
  position: relative;
}

canvas{
  display: block;
  border: 3px dashed cyan;
  margin: auto;
  cursor: crosshair;
}
